# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
.Python

# Django
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal
media/
staticfiles/

# Environment
.env
.venv
venv/
ENV/

# OS
.DS_Store
Thumbs.db

# IDE
.idea/
.vscode/
*.swp
