@import url('https://fonts.googleapis.com/css2?family=Itim&family=Madimi+One&family=Pacifico&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;700;900&display=swap');



.itim{
    font-family: "Itim", system-ui !important;
}
.pacifico{
    font-family: "Pacifico", system-ui !important;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body{
    font-family: 'Poppins';
}
.bgcol{
    backdrop-filter: blur(10px);
}


.nav-item{

    position: relative;
    a{
        color: rgb(0, 0, 0);
    }
    &:hover{
        font-weight: 700;
    }
}
.dropdown-menu{
    a{
        color: black !important;
    }
}

.nav-item::before,
.nav-item::after {
  content: '';
  position: absolute;
  width: 0%;
  height: 2px;
  bottom: 0;
  background-color: #ff0062; 
  transition: width 0.3s ease-in-out;
}

.nav-item::before {
  left: 0; 
}

.nav-item::after {
  right: 0;
}

.nav-item:hover::before {
  width: 100%;
}

.nav-item:hover::after {
  width: 100%;
}

  
.card{
    width: 18rem;
    img{
        margin: 0;
        transition: transform 0.3s;
        border-radius: 0;
    }
    h1{
        font-size: 2rem !important;
        font-weight: 600;
    }
    h2{
        font-size: 1.2rem;
        font-weight: 500;
    }
    h3{
        font-size: 1rem;
        font-weight: 400;
    }
    h4{
        font-size: 0.8rem;
        font-weight: 400;
    }
    h5{
        font-size: 0.5rem;
        font-weight: 400;
    }
    p{
        font-size: 0.5rem;
        font-weight: 300;
    }
    border-radius: 0;
    cursor: pointer;
    background-color: rgba(255, 255, 255, 0.8);
    transition: all 0.5s;
    &:hover{
        transform: translateY(-5%);
        img{
            transform: translateY(4%);
            box-shadow: 2px 2px 15px rgb(0, 0, 0);

        }
        box-shadow: 2px 2px 15px rgb(186, 186, 186);
    }
}

.emp_card{
    .emp_btn{
        transform: translateY(50%);
        opacity: 0; 
    }
    &:hover{
        .emp_btn{
            opacity: 1;
            transform: translateY(0);
        }
    }
}
.frm{
    background-color: #ffffffd0;
    height: fit-content !important;
    width: fit-content !important;
    border: none;
    outline: none;
    box-shadow: 1px 1px 5px rgb(113, 113, 113);
    padding: 3vh;
    border-radius: 0.5rem;
    backdrop-filter: blur(10px);


    select{
        height: 60px;
        font-size: larger;
        option{
            background-color:white;
        }
    }
        ::placeholder{
            color: rgb(0, 0, 0) !important;
            font-family: "Poppins", sans-serif;
            text-align: center !important;
        }

        label{
            color: rgb(0, 0, 0) !important;
            font-family: "Poppins", sans-serif;
            font-size: large;
        }

        
}


input, select, textarea{
    color: #212121 !important;
    font-size: larger;
    outline: none !important;
    border: none !important;
    border-radius: 0.5 !important;
    background-color: rgb(243, 243, 243) !important;
    
    &:hover{
        background-color: rgb(239, 239, 239) !important;
    }

}


.form-floating > input:not(:focus):placeholder-shown + label {
    color:black !important;
    background: rgba(112, 5, 5, 0) !important;
}

.form-floating > input + label:after , textarea + label:after {
    color:black !important;
    background: rgba(255, 0, 0, 0) !important;
}




.dj_frm{
    background-color: rgba(216, 255, 255, 0.512);
    font-family: 'Itim';
    font-size: large;
    padding: 5vh 10vh;
    width: fit-content;
    height: fit-content;
    margin: 5vh auto;
    display: block;
    textarea{
        height: 100px;
    }
    input, textarea{
        border-radius: 1rem !important;
        margin-left: 20px;
        width: 200px;
        border: 1px solid grey;
        border-radius: 0.5rem;
        &:focus{
            outline: none;
        }
    }
}

.nav-item{
    padding: 0 5px;
    margin: 0 5px;
    font-family: "Poppins", sans-serif;
    font-weight:500;
    font-size: medium;
    border-radius: 1rem;

}
.dropdown-item{
    transition: all 0.3s;
    &:hover{
        color: white !important;
        background-color: rgb(255, 38, 92) !important;
    }
}

.dropdown-menu{
    color: white !important;
    background-color:rgba(255, 255, 255, 0.5);
}


footer{
    background-color: rgba(255, 255, 255, 0.637);
    color: black !important;
    td{
        font-family: "Poppins", sans-serif;
        font-size: large;
        border: none;
        color: rgb(0, 0, 0) !important;
        background-color: rgba(177, 177, 177, 0.212) !important;
    }
}






/* Utilities*/

.dc{
    display: flex;
    width: 100%;
    justify-content: center; 
    align-items: center;
    flex-wrap: wrap; 
    height: fit-content; 
    margin:5vh 0;
    padding: 0 2vw;
}

.btnx{
    color: white;
    background-color: rgb(255, 55, 98);
    border: none;
    font-size: larger;
    border-radius: 0.5rem;
    transition: all 0.1s;
    &:hover{
    outline: 1px solid  rgb(255, 55, 98);
    background-color: white;
    color: rgb(255, 55, 98);
}
}

.btny{
    color: white;
    background-color: rgb(4, 193, 80);
    border: none;
    font-size: larger;
    border-radius: 0.5rem;
    transition: all 0.1s;
    &:hover{
    outline: 1px solid  rgb(4, 193, 80);
    background-color: white;
    color: rgb(4, 193, 80);
}
}

.btnz{
    color: white;
    background-color: rgb(66, 132, 255);
    border: none;
    font-size: larger;
    border-radius: 0.5rem;
    transition: all 0.1s;
    &:hover{
    outline: 1px solid  rgb(66, 132, 255);
    background-color: white;
    color: rgb(66, 132, 255);
}
}
.scrl::-webkit-scrollbar {
    display: none;
  }



/* index page */


.hero{
    padding-top: 10vh;
    width: 100%;
    min-height: 800px;
    background-image: url(../images/hero.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}
.bigtext{
    h1{
        font-family: 'Poppins';
        font-size: 4.5rem;
        font-weight: 800;
    }
    margin-top: 100px !important;
    height: fit-content;
    margin: auto;
}

.mediumtext{
    h2{
        font-size: 4rem;
        font-weight: 700;
        font-family: 'Poppins';
    }
    text-align: center;
    margin: auto;
}

.smalltext{
    h4{
        font-size: 1.2rem;
        font-weight: 400;
        font-family: 'Poppins';
    }
    height: fit-content;
    text-align: center;
    margin: auto;
}

/*about*/
#about{
    padding: 30px 50px;
}
.about-us{
    height: 100vh;
    width: 100%;
    padding: 90px 0;
    background: #ddd;
  }
  .pic{
    height: auto;
    width:  250px;
  }
  .text{
    width: 540px;
  }
  .text h2{
    font-size: 4.5rem;
    font-weight: 600;
    margin-bottom: 10px;
  }
  .text h5{
    font-size: 1rem;
    font-weight: 500;
    margin-bottom: 20px;
  }
  .text p{
    font-size: 1rem;
    line-height: 25px;
    letter-spacing: 1px;
  }
  .data{
    margin-top: 30px;
  }
  .hire{
    font-size: 18px;
    background: #000000;
    color: #fff;
    text-decoration: none;
    border: none;
    padding: 8px 25px;
    border-radius: 6px;
    transition: 0.5s;
  }
  .hire:hover{
    background: #000;
    border: 1px solid #4070f4;
  }


  /* CTA call to action section*/


  #cta{
    margin-bottom: 25px;
    padding: 9vw 0;
    min-height: 500px;
    width: 100%;
    background-image: url(../images/CTA.avif);
    background-position: center;
    background-size: cover;
    background-attachment: fixed;

  }


  #description{
    margin-top: 25px;
    display: flex;
    flex-wrap:wrap-reverse;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: 750px;
    h1{
        font-family: 'Poppins';
        font-size: 3.5rem;
        font-weight: 600;
    }
    p{
        font-family: 'Poppins';
        font-size: 1.2rem;
        font-weight: 400;
    }
    h4{
        font-size: 0.8rem;
        font-family: 'Poppins';
        font-weight: 600;
    }
    img{
        width: 95%;
    }
  }


  #featurelist{
    margin-top: 25px;
    width: 100%;
    min-height: 750px;
    background-color: white;
    h2{
        margin: 7vh 0 0 7vw;
        font-family: 'Poppins';
        font-size: 3rem;
        font-weight: 550;
    }
    p{
        font-family: 'Poppins';
        font-size: 1.2rem;
        font-weight: 400;
    }
    h4{
        font-size: 0.8rem;
        font-family: 'Poppins';
        font-weight: 600;
    }
    h3{
        font-size: 1.7rem;
        font-family: 'Poppins';
        font-weight: 600;
    }

    img{
        width: 100%;
    }
  }

  .featurelist{
    padding: 50px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }
  .features{
    width: 600px;
    padding: 0 4vw 50px 4vw;
    
  }

  #servicedetails{
    margin-top: 25px;
    display: flex;
    flex-wrap:wrap-reverse;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: 750px;
    img{
        width: 90%;
    }
  }


  #services{
    margin-top: 25px;
    font-family: 'Poppins';

    h4{
        font-weight: 600;
    }
    h1{
        max-width: 700px;
        font-size: 3rem;
        font-weight: 700;
    }
    p{
        font-weight: 400;
    }
  }



  #contact{
    font-family: 'Poppins';
    min-height: 1000px;
    margin-bottom: 25px; 
    padding: 5vw;
    h1{
        max-width: 700px;
        font-size: 3rem;
        font-weight: 700;
    }
    p{
        font-weight: 400;
    }

    input, textarea{
        background-color: white !important;
        border: 1px solid rgb(187, 187, 187) !important;
    }
  }

  #feedback{
    font-family: 'Poppins';
    h1{
        font-size: 3rem;
        font-weight: 700;
    }
  }


  div.scroll-container {
    margin-bottom: 25px;
    margin-top: 50px;
    scrollbar-width: none;
    margin-left: 8.5vw;
    margin-right: 8.5vw;
    min-height: 480px;
    overflow: auto;
    white-space: nowrap;
    padding: 10px;
  }
  
  div.scroll-container img {
    padding: 10px;
  }