{%extends 'html/main.html'%}
{%load static%}
{%block content%}
<h1 class="pacifico mb-5 beige text-center" style="margin-top: 7vh ;font-size: 4.5rem; font-weight: 900;">Orders</h1>

{%if obj%}

<div class="dc">

    {%for o in obj%}
    <div class="cardss" >
    <div class="imdiv">
        <img src="{{o.art.pic.url}}" alt="">
    </div>
        <h3 class="mx-4">Order By: {{o.user.name}}</h3>
        <h3 class="mx-4">Art Name: {{o.art.name}}</h3>
        <h3 class="mx-4">Artist Name: {{o.art.artist.name}}</h3>
        <h4 class="mx-4">Price: {{o.art.price}}</h4>
        <h5 class="mx-4">Status: {{o.status}}</h5>
        <p class="mx-4">Order Date: {{o.created}}</p>
        <a class="mx-4" href="{{o.payment.url}}">Payment Screenshot</a>
    </div>
    {%endfor%}
</div>

{%else%}

<h2 class="text-center mt-5">No orders for now</h2>
{%endif%}

{%endblock%}