{%extends 'html/main.html'%}
{%block content%}

<div class="dc">
  <div class="frm">
    <h2 class="my-4 beige text-center">Create Account</h2>
    <form method="post" enctype="multipart/form-data" class="mt-4">
      {% csrf_token %}
      <div class="form-floating mb-3">
        <input type="text" id="phone" placeholder="" name="phone" class="form-control" required>
        <label for="phone">Phone Number</label>
      </div>
      <div class="form-floating mb-3">
        <input type="password" id="password" placeholder="" name="password" class="form-control" required>
        <label for="password">Password</label>
      </div>
      <div class="form-floating mb-3">
        <input type="text" id="name" name="name" placeholder="" class="form-control" required>
        <label for="name">Full Name</label>
      </div>
      <div class="form-floating mb-3">
        <input type="email" id="email" name="email" placeholder="" class="form-control" required>
        <label for="email">Email</label>
      </div>
      <div class="form-floating mb-3">
        <input type="file" class="form-control" placeholder="" id="pic" name="pic" accept="image/*">
        <label for="pic">Profile Picture (optional)</label>
      </div>
      <a href="/user_login/" style="color:#ff4d6d;">Already have an account? Login →</a>
      <button type="submit" class="btna mt-3">Create Account</button>
    </form>
  </div>
</div>
{%endblock%}
