{%extends 'artist/main.html'%}
{%block content%}

<div class="dc">
    <div class="frm">
        <h2 class="mb-4 beige text-center">Add Event</h2>
                <form action="/add_event/" method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="form-floating mb-3">
                        <input type="text" class="form-control" placeholder="" id="name" name="name" required>
                        <label for="name">Name</label>
                    </div>
                    <div class="form-floating mb-3">
                        <input type="date" class="form-control" placeholder="" id="date" name="date" required>
                        <label for="date">Date</label>
                    </div>
                    <div class="form-floating mb-3">
                        <input type="text" class="form-control" placeholder="" id="venue" name="venue" required>
                        <label for="venue">Venue</label>
                    </div>
                    <div class="form-floating mb-3">
                        <input type="file" class="form-control" placeholder="" id="pic" name="pic" required>
                        <label for="pic">Picture</label>
                    </div>
                    <button type="submit" class="btna">Add Event</button>
                </form>
    </div>
</div>
{%endblock%}