{%extends 'html/main.html'%}
{%load static%}
{%block content%}
<h1 class="pacifico beige mb-5 text-center" style="margin-top: 7vh ;font-size: 4.5rem; font-weight: 900;">Artists</h1>

<div class="dc">
    {%for a in obj%}
    <div class="cards" style="width: 350px; ">
        <div class="imdiv">
            <img src="{{a.pic.url}}" alt="">
        </div>
        <h3 class="text-center my-3">{{a.name}}</h3>
        <h4 class="ms-3">Category: {{a.category}}</h4>
        <h4 class="ms-3">Phone: {{a.phone}}</h4>
        <h5 style="font-family: 'Poppins'; font-size: medium;" class="ms-3">Email: {{a.email}}</h5>
        
        <div class="d-flex">
            <button class="btna my-3 w-50 ms-3 me-1" onclick="window.location.href='{%url 'show_art' a.phone%}';">Show Arts</button>
            {%if not user.artist and not user.admin%}
            <button class="btna my-3 w-50 me-3 ms-1" onclick="window.location.href='{%url 'chat' a.id%}';">Chat</button>
            {%endif%}
        </div>
        
    </div>
    {%endfor%}
</div>
{%endblock%}