{%extends 'html/main.html'%}
{%load static%}
{%block content%}
<h1 class="pacifico mb-5 beige text-center" style="margin-top: 7vh ;font-size: 4.5rem; font-weight: 900;">Events</h1>

<div class="dc">
    {%for a in obj%}
    <div class="cards" style="width: 350px; ">
        <div class="imdiv">
            <img src="{{a.pic.url}}" alt="">
        </div>
        <h3 class="text-center my-3">{{a.name}}</h3>
        <h4 class="ms-3">Organized By: {{a.artist.name}}{{a.admin.name}}</h4>
        <h4 class="ms-3">Date: {{a.date}}</h4>
        <h4 class="ms-3">Venue: {{a.venue}}</h4>
    </div>
    
        {%endfor%}
</div>
{%endblock%}