{%extends 'html/main.html'%}
{%load static%}
{%block content%}

<h1 class="pacifico mb-5 beige text-center" style="margin-top: 7vh ;font-size: 4.5rem; font-weight: 900;">Gallery</h1>
<div class="dc">
    {%for a in obj%}
    <div class="cards" onclick="window.location.href='{{a.pic.url}}';" style="width: 350px;">
        <div class="imdiv">
            <img src="{{a.pic.url}}" alt="">
        </div>
        <h3 class="text-center mb-3">{{a.name}}</h3>
        <h5 class="text-center mb-3">{{a.art_type}} By: {{a.artist.name}}</h5>
    </div>
    
        {%endfor%}
</div>


{%endblock%}